body{
    margin:0;
    background-image: url("download.jpg");
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    color:white;
    
}
#clock-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
#clock{
    font-family:monospace;
    font-size:6.5rem;
    font-weight:bold;
    text-align:center;
    backdrop-filter:blur(5px);
    background-color:rgba(128, 128, 128, 0.027);
    
}