body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#myH1 {
    font-size: 4rem;
    font-family: "Arial", sans-serif;
    color: rgb(24, 23, 23);
    font-weight:bold;
    
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}

#display {
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: rgba(13, 12, 12, 0.63);
    text-shadow: 2px 2px 2px rgba(5, 5, 5, 0.963);
    margin-bottom: 25px;
}
#controls button {
font-size:1.5rem;
font-weight:bold;
padding:10px 20px;
margin:5px;
min-width:125px;
border:none;
border-radius:20px;
cursor:pointer;
color:white;
transition:background-color 0.5s ease;
}
#startBtn{
    background-color:rgb(26, 161, 26);
}
#startBtn:hover{
    background-color:rgb(8, 100, 8);
}

#stopBtn{
    background-color:rgba(219, 27, 27, 0.959);
}
#stopBtn:hover{
    background-color:rgb(108, 20, 9);
}

#resetBtn{
    background-color:rgb(18, 18, 235);
}
#resetBtn:hover{
    background-color:rgb(4, 19, 79);
}
